<!-- Right Sidebar for Friends List -->
<aside class="magariaside">
  <!-- Friend Suggestions -->
  <div class="sxvafirend">
    <section id="friend-list">
      <div>
        <h4>Friend List</h4>

        <div id="search-friends">
          <input
            type="text"
            placeholder="Search Friends"
            style="width: 100% !important; font-size: 0.9rem"
          />
        </div>
      </div>

      <ul style="padding-left: 0">
        {% for i in user_friends %}

        <!--  -->
        {% if i.user_email == request.user.email %}
        <li
          class="friend"
          style="cursor: pointer"
          data-useremail="{{i.friend_email}}"
          data-userphoto="static/media/{{i.friend_avatar}}"
          data-requestuseremail="{{request.user.email}}"
        >
          <img src="static/media/{{i.friend_avatar}}" alt="Friend Avatar" />
          <p
            class="friend_name"
            data-name="{{i.friend_first_name}} {{i.friend_last_name}}"
          >
            {{i.friend_first_name}} {{i.friend_last_name}}
          </p>
        </li>
        {% else %}
        <li
          class="friend"
          style="cursor: pointer"
          data-useremail="{{i.user_email}}"
          data-userphoto="static/media/{{i.user_avatar}}"
          data-requestuseremail="{{request.user.email}}"
        >
          <img src="static/media/{{i.user_avatar}}" alt="Friend Avatar" />
          <p
            class="friend_name"
            data-name="{{i.user_first_name}} {{i.user_last_name}}"
          >
            {{i.user_first_name}} {{i.user_last_name}}
          </p>
        </li>
        <!--  -->
        {% endif %}
        <!--  -->
        {% endfor %}
      </ul>
    </section>
  </div>
</aside>
