<!-- Chat Window -->
<div id="chat-window" class="chat-hidden">
  <div class="chat-header">
    <div
      class="nameandphotoMessagesWindow"
      style="display: flex; gap: 0.5rem; align-items: center"
    >
      <img
        src="/static/media/avatars/default-boy-avatar.jpg"
        alt=""
        style="width: 40px; border-radius: 50%"
        class="chat-friend-photo"
      />
      <h4 id="chat-friend-name" style="color: #fff">Friend</h4>
    </div>
    <button id="close-chat">✖</button>
  </div>

  <div class="chat-body" style="max-height: 400px">
    <p class="startCon" style="text-align: center">Please Wait...</p>
  </div>

  <div class="chat-input">
    <input
      type="text"
      placeholder="Type a message..."
      style="font-size: 0.8rem"
      class="messageInputChatr"
    />
    <button
      class="btn btn-primary send_messages--btn"
      style="font-size: 0.8rem"
      disabled
    >
      Send
    </button>
  </div>
</div>
