{% load static %}

<!-- Modal for notifications -->
<div
  class="modal fade"
  id="staticBackdrop2"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Notifications</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- Tab Navigation -->
      <ul class="nav nav-tabs" id="notificationTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="notifications-tab"
            data-bs-toggle="tab"
            data-bs-target="#notifications"
            role="tab"
            aria-controls="notifications"
            aria-selected="true"
          >
            Notifications
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="messages-tab"
            data-bs-toggle="tab"
            data-bs-target="#messages"
            role="tab"
            aria-controls="messages"
            aria-selected="false"
          >
            Messages
          </button>
        </li>
      </ul>

      <!-- Tab Content -->
      <div
        class="tab-content"
        id="notificationTabContent"
        style="height: 300px; overflow-y: scroll"
      >
        <div
          class="tab-pane fade show active"
          id="notifications"
          role="tabpanel"
          aria-labelledby="notifications-tab"
        >
          <div class="modal-body notifications_modal_body">
            {% for i in initial_notifications %}

            <!--  -->
            {% if i.notification_type == "friend_request" %}
            <div class="d-flex align-items-center gap-2 my-3">
              <a href="{% url 'profile' i.sender__email %}">
                <img
                  src="/static/media/{{i.sender__avatar}}"
                  loading="lazy"
                  style="border-radius: 50%; width: 50px; height: 50px"
                />
              </a>
              <div style="display: flex; flex-direction: column">
                <span style="color: black"
                  >{{i.sender__first_name}} {{i.sender__last_name}}
                  <span style="font-size: 0.9rem">Sent You Friend Request</span>
                </span>
                <div class="d-flex gap-2">
                  <button
                    class="btn btn-success add_friend_appr"
                    data-id="{{i.sender__id}}"
                    data-notificationId="{{i.id}}"
                    style="padding: 2px 0; width: 100px"
                  >
                    Accept
                  </button>
                  <button
                    class="btn btn-danger decline_friend_request"
                    data-id="{{i.sender__id}}"
                    data-notificationId="{{i.id}}"
                    style="padding: 2px 0; width: 100px"
                  >
                    Decline
                  </button>
                </div>
              </div>
            </div>
            {% elif i.notification_type == "friend_acceptance" %}
            <p
              style="
                color: black;
                background: #e0e0e0;
                padding: 0.5rem;
                margin-block: 0.5rem;
              "
            >
              {{i.sender__first_name}} {{i.sender__last_name}} has accepted your
              friend request
              <button
                class="delete_message_dec"
                data-id="{{i.id}}"
                style="
                  font-size: 1.2rem;
                  cursor: pointer;
                  padding: 0.2rem;
                  background: none;
                  border: none;
                "
                type="button"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Delete Notification"
              >
                🗑️
              </button>
            </p>
            {% elif i.notification_type == "friend_rejection" %}
            <p
              style="
                color: black;
                background: #e0e0e0;
                padding: 0.5rem;
                margin-block: 0.5rem;
              "
            >
              {{i.sender__first_name}} {{i.sender__last_name}} has rejected your
              friend request
              <button
                class="delete_message_dec"
                data-id="{{i.id}}"
                style="
                  font-size: 1.2rem;
                  cursor: pointer;
                  padding: 0.2rem;
                  background: none;
                  border: none;
                "
                type="button"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Delete Notification"
              >
                🗑️
              </button>
            </p>
            {% elif i.notification_type == "unfriend" %}
            <div
              class="d-flex align-items-center gap-2 my-3 container_for_unfriend_notification"
            >
              <a href="{% url 'profile' i.sender__email %}">
                <img
                  src="/static/media/{{i.sender__avatar}}"
                  loading="lazy"
                  style="border-radius: 50%; width: 50px; height: 50px"
                />
              </a>
              <div style="display: flex; flex-direction: column; width: 80%">
                <span style="color: black"
                  >{{i.sender__first_name}} {{i.sender__last_name}}</span
                >

                <div>
                  <span style="font-size: 0.9rem"
                    >Has removed you as a friend.</span
                  >

                  <button
                    class="delete_message_dec"
                    data-id="{{i.id}}"
                    style="
                      font-size: 1.2rem;
                      cursor: pointer;
                      padding: 0.2rem;
                      background: none;
                      border: none;
                    "
                    type="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Delete Notification"
                  >
                    🗑️
                  </button>
                </div>
              </div>
            </div>

            <!-- Like Notification -->
            {% elif i.notification_type == "post_like" %}
            <div
              class="d-flex align-items-center gap-2 my-3 container_for_like_notification container_for_unfriend_notification"
            >
              <a href="{% url 'profile' i.sender__email %}">
                <img
                  src="/static/media/{{i.sender__avatar}}"
                  loading="lazy"
                  style="border-radius: 50%; width: 50px; height: 50px"
                />
              </a>
              <div style="display: flex; flex-direction: column; width: 80%">
                <span style="color: black"
                  >{{i.sender__first_name}} {{i.sender__last_name}}</span
                >
                <div>
                  <span style="font-size: 0.9rem"> Liked your post </span>
                  <a
                    href="#"
                    type="button"
                    data-post_id="{{i.message}}"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    class="view_post_notifications"
                    style="font-size: 0.8rem; color: #007bff"
                    >View Post</a
                  >

                  <button
                    class="delete_message_dec"
                    data-id="{{i.id}}"
                    style="
                      font-size: 1.2rem;
                      cursor: pointer;
                      padding: 0.2rem;
                      background: none;
                      border: none;
                    "
                    type="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Delete Notification"
                  >
                    🗑️
                  </button>
                </div>
              </div>
            </div>

            <!-- Unlike Notification -->
            {% elif i.notification_type == "post_unlike" %}
            <div
              class="d-flex align-items-center gap-2 my-3 container_for_unlike_notification container_for_unfriend_notification"
            >
              <a href="{% url 'profile' i.sender__email %}">
                <img
                  src="/static/media/{{i.sender__avatar}}"
                  loading="lazy"
                  style="border-radius: 50%; width: 50px; height: 50px"
                />
              </a>
              <div style="display: flex; flex-direction: column; width: 80%">
                <span style="color: black"
                  >{{i.sender__first_name}} {{i.sender__last_name}}</span
                >
                <div>
                  <span style="font-size: 0.9rem"> Unliked your post </span>
                  <a
                    href="#"
                    type="button"
                    data-post_id="{{i.message}}"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    class="view_post_notifications"
                    style="font-size: 0.8rem; color: #007bff"
                    >View Post</a
                  >

                  <button
                    class="delete_message_dec"
                    data-id="{{i.id}}"
                    style="
                      font-size: 1.2rem;
                      cursor: pointer;
                      padding: 0.2rem;
                      background: none;
                      border: none;
                    "
                    type="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Delete Notification"
                  >
                    🗑️
                  </button>
                </div>
              </div>
            </div>

            {% elif i.notification_type == "post_comment" %}
            <div
              class="d-flex align-items-center gap-2 my-3 container_for_like_notification container_For_comments"
              style="background-color: #fff4e6; border-color: #fd7e14"
            >
              <a href="{% url 'profile' i.sender__email %}">
                <img
                  src="/static/media/{{i.sender__avatar}}"
                  loading="lazy"
                  style="border-radius: 50%; width: 50px; height: 50px"
                />
              </a>
              <div style="display: flex; flex-direction: column; width: 80%">
                <span style="color: black; font-size: 0.9rem"
                  >{{i.sender__first_name}} {{i.sender__last_name}}</span
                >
                <div>
                  <span style="font-size: 0.9rem">
                    Commented on Your Post:
                    <i> {{i.message|slice:":25"}} </i>
                  </span>
                  <a
                    href="#"
                    type="button"
                    data-post_id="{{i.post_Id}}"
                    data-comment_btn="yes"
                    data-sender_id="{{i.sender__id}}"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    class="view_post_notifications"
                    style="font-size: 0.8rem; color: #007bff"
                    >View Post</a
                  >
                  <button
                    class="delete_message_dec"
                    data-id="{{i.id}}"
                    style="
                      font-size: 1.2rem;
                      cursor: pointer;
                      padding: 0.2rem;
                      background: none;
                      border: none;
                    "
                    type="button"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Delete Notification"
                  >
                    🗑️
                  </button>
                </div>
              </div>
            </div>

            {% endif %}

            <!--  -->

            {% endfor %}
          </div>
        </div>

        <!-- Messages Section -->
        <div
          class="tab-pane fade"
          id="messages"
          role="tabpanel"
          aria-labelledby="messages-tab"
        >
          <div class="modal-body">
            <div class="message-preview notification_message_cont">
              <div class="user-image">
                <img
                  src="/static/media/{{request.user.avatar}}"
                  loading="lazy"
                  alt="User 1"
                />
              </div>
              <div class="message-details">
                <div class="username">Dalaca</div>
                <div class="message-text">
                  You: Hey, how are you doing today?...
                </div>
              </div>
              <div class="message-time">2h</div>
            </div>

            <div class="message-preview notification_message_cont">
              <div class="user-image">
                <img
                  src="/static/media/{{request.user.avatar}}"
                  loading="lazy"
                  alt="User 1"
                />
              </div>
              <div class="message-details">
                <div class="username">Dalaca2</div>
                <div class="message-text" style="color: #fff">
                  Hey, how are you doing today?...
                </div>
              </div>
              <div class="message-time">2h</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #131312">
      <div class="modal-header">
        <h1
          class="modal-title fs-5"
          id="staticBackdropLabel"
          style="color: #fff"
        >
          Post
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body modal_body_for_post_likeUnliked posts-area-mainpage-profilepage"
      ></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="{% static 'js/notification.js' %}"></script>
