<!-- Post with Image -->
<article class="post feed-posts">
  <div class="post-header">
    <img src="static/media/{{request.user.avatar}}" alt="User Avatar" />
    <div class="post-user-info">
      <h4>Username</h4>
      <p>Posted 3 hours ago</p>
    </div>
  </div>
  <div class="post-content">
    <div class="post-description">
      <p>Check out this picture!</p>
    </div>

    <div class="media">
      <img src="static/media/{{request.user.avatar}}" alt="Post Image" />
    </div>
  </div>
  <div class="post-actions">
    <div class="like-section">
      <button>👍 Like</button>
      <span class="like-count">15 Likes</span>
      <!-- Number of likes -->
    </div>
    <button
      class="share-btn"
      class="share-btn"
      data-bs-toggle="modal"
      data-bs-target="#shareModal"
      data-title="Share"
    >
      ↪️ Share
    </button>
  </div>
  <!-- Hidden Comment Section -->
  <details>
    <summary>View Comments</summary>
    <div class="comments">
      <!-- Comment -->
      <div class="comment">
        <p><strong>Friend:</strong> Great photo!</p>
      </div>
      <!-- Add a Comment -->
      <div class="add-comment">
        <input type="text" placeholder="Write a comment..." />
        <button>Post</button>
      </div>
    </div>
  </details>
</article>
