{% extends 'mainApp/main.html' %} {% load static %} {% load custom_filters %}
<!--  -->
{% block css %}
<link
  rel="stylesheet"
  href="{% static 'css/home.css' %}"
  type="text/css"
  media="screen"
/>

<link
  rel="stylesheet"
  href="{% static 'css/home&profile_styles.css' %}"
  type="text/css"
  media="screen"
/>

<style>
  /* Modal and Progress Bar styles */
  .modal-for-progressbar-create_post {
    margin-bottom: 1rem;
  }
  .modal-for-progressbar-create_post .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  .modal-for-progressbar-create_post .progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
  }
  .modal-for-progressbar-create_post .progress-fill {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease;
  }

  .magariAlteri,
  .magariAlteri2 {
    position: fixed;
    top: 10px;
    z-index: -1012312;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
  }

  .comment p {
    margin: 0;
    font-size: 0.95rem;
    color: #333;
  }

  .comment strong {
    color: #007bff;
  }

  .posts-area-mainpage-profilepage .add-comment .save-comment-edit-btn:hover,
  .posts-area-mainpage-profilepage
    .add-comment
    .save-comment-edit-btn-cancel:hover {
    background-color: #165ecf !important;
  }

  .three_dot_for_post_edit_delete .dropdown-toggle::before {
    display: none;
  }

  .dropstart .dropdown-toggle::before {
    display: none;
  }

  @media screen and (max-width: 1020px) {
    .fixed-nav-container {
      width: 200px !important;
    }
  }

  @media screen and (max-width: 1000px) {
    .sxvafirend {
      width: 220px !important;
    }
  }

  @media (max-width: 768px) {
    .fixed-nav-container {
      width: 100% !important;
    }

    .posts-area-mainpage-profilepage {
      margin-bottom: 4rem;
    }
  }
</style>
{% endblock css %}
<!-- Page Content -->

{% block content %}

<div class="container-for-everything">
  {% include 'mainApp/components/nav.html' %}

  <!-- Main Content Area -->
  <div id="main-content" class="posts-area-mainpage-profilepage">
    <!-- Post Creation -->
    <section id="create-post">
      <div class="open-post-create-thing">What's on your mind?</div>
    </section>

    <div
      id="progress-modal"
      class="modal-for-progressbar-create_post"
      style="display: none"
    >
      <div class="modal-content">
        <h2 style="font-size: 1rem">Creating your post...</h2>
        <div class="progress-bar">
          <div class="progress-fill" style="width: 0%"></div>
        </div>
      </div>
    </div>

    <!-- News Feed -->
    <section id="news-feed">
      {% for post in posts %}
      <!--  -->
      {% if post|instanceof:"SharedPost" %}
      <!--  -->
      {% include 'mainApp/components/shared-post.html' %}
      <!--  -->
      {% else %}
      <!--  -->
      {% include 'mainApp/components/casual-post.html' %} {% endif %}
      <!--  -->
      {% endfor %}
    </section>

    <div id="loading" style="display: block; text-align: center">
      Loading more posts...
    </div>
  </div>

  <!-- Right Sidebar for Friends List -->
  {% include 'mainApp/components/aside_friend_list.html' %}

  <!-- this is for creating posts never mind this -->
  {% include 'mainApp/components/post_create_modal.html' %}
</div>

<!-- Chat Window -->
{% include 'mainApp/components/chat_window.html' %}

<!-- Modal for notifications -->
{% include 'mainApp/components/notifications_modal.html' %}

<!-- Share Modal (Bootstrap) -->
{% include 'mainApp/components/share_modal.html' %}
<!--  -->

<!-- Edit Post Modal -->
<div
  class="modal fade"
  id="editPostModal"
  tabindex="-1"
  aria-labelledby="editPostModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- The post structure, but editable -->
        <form id="editPostForm" method="patch" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="post-content">
            <!-- Editable Post Text -->
            <div class="mb-3">
              <label for="editPostText" class="form-label">Post Text</label>
              <textarea
                class="form-control"
                id="editPostText"
                rows="3"
                name="text"
              ></textarea>
            </div>

            <!-- Editable Media (Image or Video) -->
            <div class="mb-3">
              <label for="editPostMedia" class="form-label"
                >Post Media (Optional)</label
              >
              <div id="currentMedia"></div>
              <input
                type="file"
                class="form-control"
                name="media"
                id="editPostMedia"
              />
            </div>

            <!-- Editable Tags -->
            <div class="tags-section mb-3">
              <label for="tags">Select up to 5 tags: </label>
              <div id="tags-wrapper23">
                {% for tag in tags %}
                <input
                  type="checkbox"
                  name="tags"
                  value="{{ tag.name }}"
                  id="tag3-{{ tag.id }}"
                  data-name_tag="{{ tag.name }}"
                  class="tag-checkbox23"
                />
                <label for="tag3-{{ tag.id }}" class="tag_names_tag"
                  >{{ tag.name }}</label
                >
                {% endfor %}
              </div>
            </div>

            <!-- Post ID (Hidden) -->
            <input type="hidden" id="editPostId" name="postId" />
          </div>

          <button
            type="button"
            class="btn btn-primary edit_post_save_button_modal"
          >
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="alert alert-warning alert-dismissible fade hide magariAlteri"
  role="alert"
>
  Video file is too large. Maximum size allowed is 10MB.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<div
  class="alert alert-warning alert-dismissible fade hide magariAlteri2"
  role="alert"
>
  <span class="alertText"> </span>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    onclick="hideAlert()"
  ></button>
</div>

<input type="hidden" id="user_email123" value="{{request.user.email}}" />
{% endblock content %}

<!--  -->
{% block scripts %}

<script>
  function hideAlert() {
    // Just hide the alert instead of removing it from the DOM
    const alertDiv = document.querySelector(".magariAlteri2");
    alertDiv.classList.remove("show"); // Remove the 'show' class to hide the alert
    alertDiv.classList.add("hide"); // Optionally, you can add 'hide' to keep it hidden
  }

  document
    .querySelector(".open_notifications_modal_andretrieve_notifications")
    .addEventListener("click", (e) => {
      e.preventDefault();
    });
</script>

<script src="{% static 'js/home.js' %}"></script>
<script type="module" src="{% static 'js/crud_posts.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<script type="module" src="{% static 'js/fetch_posts_for_feed.js' %}"></script>
<script type="module" src="{% static 'js/postActions.js' %}"></script>
{% endblock scripts %}
