{% extends 'mainApp/main.html' %} {% load static %} {% load custom_filters %}
<!--  -->
{% block css %}
<link
  rel="stylesheet"
  href="{% static 'css/profile1.css' %}"
  type="text/css"
  media="screen"
/>

<link
  rel="stylesheet"
  href="{% static 'css/home&profile_styles.css' %}"
  type="text/css"
  media="screen"
/>

<style>
  .three_dot_for_post_edit_delete .dropdown-toggle::after {
    display: none;
  }

  .three_dot_for_post_edit_delete li {
    cursor: pointer;
  }

  .dropstart .dropdown-toggle::before {
    display: none;
  }

  .alert-success {
    display: none;
  }

  .magariAlteri,
  .magariAlteri2 {
    position: fixed;
    top: 10px;
    z-index: -1012312;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
  }

  .comment p {
    margin: 0;
    font-size: 0.95rem;
    color: #333;
  }

  .comment strong {
    color: #007bff;
  }

  .posts-area-mainpage-profilepage .add-comment .save-comment-edit-btn:hover,
  .posts-area-mainpage-profilepage
    .add-comment
    .save-comment-edit-btn-cancel:hover {
    background-color: #165ecf !important;
  }

  #loading {
    text-align: center;
    font-size: 1.5rem;
    color: #666;
  }

  @media screen and (max-width: 768px) {
    .user_postsWrapper_mainAbove {
      width: 100% !important;
    }
  }
</style>
{% endblock css %}
<!-- Page Content -->

{% block content %}

<nav class="top-nav">
  <a href="{% url 'home' %}" class="nav-link">🏠 Home</a>
  <a href="{% url 'profile' request.user %}" class="nav-link">👤 Profile</a>
  <a
    href="#notifications"
    class="nav-link notification_a_tag_for_count open_notifications_modal_andretrieve_notifications"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop2"
    data-title="Notifications"
    >🔔 Notifications

    <div class="notification_count">{{initial_notifications_length}}</div>
  </a>
  <a href="{% url 'logout' %}" class="nav-link">🚪 Logout</a>
</nav>

<!-- Profile Header -->
<header id="profile-header" style="margin-top: 4.1rem">
  <div class="profile-cover" style="position: relative; overflow: hidden">
    <img
      src="/static/media/{{user.background_image}}"
      loading="lazy"
      alt="Cover Photo"
      style="bottom: -90px; position: absolute; height: 400px"
      class="post-image_aiauiaadas"
    />
  </div>

  <div class="profile-info container justify-content-between">
    <div class="profile-info">
      <img
        src="/static/media/{{user.avatar}}"
        loading="lazy"
        alt="User Avatar"
        class="profile-avatar post-image_aiauiaadas"
        style="object-fit: cover"
      />
      <div class="profile-details">
        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
        <p>@{{ user.new_username }}</p>
        <p class="bio">
          Bio: <span class="bio-txt">{{ user.bio }}</span>

          {% if user == request.user %}
          <span
            class="update_profile_info__bio"
            style="
              background-color: rgb(83, 83, 83);
              cursor: pointer;
              padding: 3px;
            "
            >✏️</span
          >
        </p>
        <div class="input-and-add-button-bio d-none">
          <input
            type="text"
            name="bio"
            id="bio"
            class="bio-input"
            placeholder="Update Bio"
          />

          <button
            class="btn btn-success add-bio-submit"
            style="font-size: 0.8rem"
          >
            Add
          </button>
        </div>
        {% else %}
        <!--  -->
        {% endif %} {% if request.user == user %}

        <button
          class="edit-profile-btn"
          data-bs-toggle="modal"
          data-bs-target="#editProfileModal"
          data-title="Edit Profile"
        >
          Edit Profile
        </button>
        {% else %}

        <div class="profile-buttons">
          {% if are_friends %}
          <button
            type="button"
            class="delete_from_friends"
            data-unfriend_user_id="{{user.id}}"
          >
            Unfriend
          </button>
          {% elif friend_request_sent %}
          <p>Friend request already sent.</p>
          {% elif friend_request_received %}
          <p>Friend request already received.</p>
          {% else %}
          <button class="add_friend_btn_profile" data-receiver_id="{{user.id}}">
            Add Friend
          </button>
          {% endif %}

          <button
            class="friend"
            data-name="{{ user.first_name }} {{ user.last_name }}"
            data-useremail="{{user.email}}"
            data-userphoto="/static/media/{{user.avatar}}"
            data-requestuseremail="{{request.user.email}}"
          >
            Message
          </button>
        </div>
        {% endif %}
      </div>
    </div>

    {% if user == request.user %}
    <div>
      <button
        class="btn"
        style="font-size: 1.5rem; background-color: tomato; padding: 6px 10px"
        data-bs-toggle="modal"
        data-bs-target="#changeTagsModal"
      >
        🏷️
      </button>
    </div>
    {% endif %}
  </div>
</header>

<nav class="bottom-nav">
  <a href="{% url 'home' %}" class="nav-link">🏠</a>
  <a href="{% url 'profile' request.user %}" class="nav-link">👤</a>
  <a
    href="#notifications"
    class="nav-link notification_a_tag_for_count open_notifications_modal_andretrieve_notifications"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop2"
    data-title="Notifications"
    >🔔

    <div class="notification_count_mobile">
      {{initial_notifications_length}}
    </div>
  </a>
  <a href="{% url 'logout' %}" class="nav-link">🚪</a>
</nav>

<!-- Tab Navigation -->
<div class="container tab-navigation">
  <ul class="nav nav-tabs" id="profile-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile"
        type="button"
        role="tab"
        aria-controls="profile"
        aria-selected="true"
      >
        Profile
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="friends-tab"
        data-bs-toggle="tab"
        data-bs-target="#friends"
        type="button"
        role="tab"
        aria-controls="friends"
        aria-selected="false"
      >
        Friends
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="media-tab"
        data-bs-toggle="tab"
        data-bs-target="#media"
        type="button"
        role="tab"
        aria-controls="media"
        aria-selected="false"
      >
        Media
      </button>
    </li>
  </ul>
</div>

<!-- Tab Content -->
<div
  class="tab-content container"
  id="profile-tab-content"
  style="margin-bottom: 3rem"
>
  <!-- Profile Tab (Main Page Content) -->
  <div
    class="tab-pane fade show active"
    id="profile"
    role="tabpanel"
    aria-labelledby="profile-tab"
  >
    <div id="profile-page" class="container">
      <!-- Main Profile Content -->
      <div id="profile-content">
        <!-- Left Column: About Section & Images -->
        <aside id="profile-sidebar">
          <div class="fixed-container">
            <!-- About Section -->
            <section id="profile-about">
              <h4>About</h4>
              <ul>
                <li>
                  Location: {% if user.location %}
                  <!--  -->
                  <span class="location-txt">{{ user.location }}</span>

                  <!--  -->
                  {% if request.user == user %}
                  <span
                    class="update_profile_info__location"
                    style="
                      background-color: rgb(83, 83, 83);
                      cursor: pointer;
                      padding: 3px;
                    "
                    >✏️</span
                  >

                  <div class="input-and-add-button-location2 d-none">
                    <input
                      type="text"
                      name="location"
                      id="location"
                      class="location-input"
                    />

                    <button
                      class="btn btn-success add-location-submit"
                      style="font-size: 0.8rem"
                    >
                      Add
                    </button>
                  </div>

                  {% else %}
                  <!--  -->
                  {% endif %} {% else %}
                  <!--  -->
                  {% if request.user == user %}

                  <button
                    class="btn btn-warning add-location-btn"
                    style="font-size: 0.9rem"
                  >
                    Add Location
                  </button>

                  <div class="input-and-add-button-location d-none">
                    <input
                      type="text"
                      name="location"
                      id="location"
                      class="location-input"
                    />

                    <button
                      class="btn btn-success add-location-submit"
                      style="font-size: 0.8rem"
                    >
                      Add
                    </button>
                  </div>

                  <span class="location-txt"></span>
                  {% else %} No Info {% endif %}
                  <!--  -->
                  {% endif %}
                </li>
                <li>
                  Works at: {% if user.job %}
                  <span class="job-txt">{{ user.job }}</span>
                  <!--  -->
                  {% if request.user == user %}
                  <span
                    class="update_profile_info__job"
                    style="
                      background-color: rgb(83, 83, 83);
                      cursor: pointer;
                      padding: 3px;
                    "
                    >✏️</span
                  >

                  <div class="input-and-add-button-job2 d-none">
                    <input type="text" name="job" id="job" class="job-input" />

                    <button
                      class="btn btn-success add-job-submit"
                      style="font-size: 0.8rem"
                    >
                      Add
                    </button>
                  </div>
                  {% else %}
                  <!--  -->
                  {% endif %}

                  <!--  -->
                  {% else %}

                  <!--  -->
                  {% if request.user == user %}
                  <button
                    class="btn btn-warning add-job-btn"
                    style="font-size: 0.9rem"
                  >
                    Add Job
                  </button>

                  <div class="input-and-add-button-job d-none">
                    <input type="text" name="job" id="job" class="job-input" />

                    <button
                      class="btn btn-success add-job-submit"
                      style="font-size: 0.8rem"
                    >
                      Add
                    </button>
                  </div>

                  <span class="job-txt"></span>
                  {% else %} No Info {% endif %}
                  <!--  -->
                  {% endif %}
                </li>
                <li>Joined: {{ user.date_joined|date:"F Y" }}</li>
              </ul>
            </section>

            <!-- User Images Section -->
            <section id="profile-images" class="mb-3 media-images">
              <h4>Images</h4>
              <div class="photo-grid">
                {% if user_media %}
                <!--  -->
                {% for media in user_media|first_n_items:6 %}
                <!--  -->
                {% if media.media_type == 'profile' %}
                <img
                  src="{{ media.media_file_link }}"
                  alt="Profile Picture"
                  loading="lazy"
                />
                {% elif media.media_type == 'background' %}
                <img
                  src="{{ media.media_file_link }}"
                  alt="Background Image"
                  loading="lazy"
                />
                {% endif %} {% endfor %}
                <!--  -->
                {% else %}
                <p>No Media Files</p>
                {% endif %}
                <!-- More photos can go here -->
              </div>
            </section>
          </div>
        </aside>

        <!-- Right Column: User Posts -->
        <div style="width: 60%" class="user_postsWrapper_mainAbove">
          <main
            id="profile-posts"
            class="posts-area-mainpage-profilepage"
            style="width: 100%"
          >
            {% for post in all_posts %}
            <!--  -->
            {% if post|instanceof:"SharedPost" %}
            <article class="post shared-post feed-posts">
              <div class="post-header justify-content-between">
                <div style="display: flex; align-items: center">
                  <a href="{% url 'profile' post.shared_by.email %}">
                    <img
                      src="/static/media/{{user.avatar}}"
                      loading="lazy"
                      alt="User Avatar"
                    />
                  </a>
                  <div class="post-user-info">
                    <h4>{{user.first_name}} {{user.last_name}}</h4>
                    <p>Posted {{ post.created_at|timesince }} ago</p>
                  </div>
                </div>

                <div class="three_dot_for_post_edit_delete dropstart">
                  <button
                    class="dropdown-toggle"
                    style="
                      color: rgb(0, 0, 0);
                      font-size: 1.4rem;
                      background: none;
                      border: none;
                    "
                    type="button"
                    data-bs-toggle="dropdown"
                  >
                    ⋮
                  </button>

                  <ul class="dropdown-menu">
                    <li
                      class="dropdown-item delete_sharedpost--btn"
                      style="cursor: pointer"
                      data-postId="{{post.id}}"
                    >
                      🗑️ Delete
                    </li>
                  </ul>
                </div>
              </div>
              <div class="post-content">
                <p>{{post.message}}</p>
                <!-- Sharer's message -->
                <!-- Original Post -->
                <div class="original-post">
                  <div class="post-header justify-content-between">
                    <div class="d-flex">
                      <a
                        href="{% url 'profile' post.original_post.user.email %}"
                      >
                        <img
                          src="/static/media/{{post.original_post.user.avatar}}"
                          loading="lazy"
                          alt="User Avatar"
                        />
                      </a>
                      <div class="post-user-info" style="align-self: flex-end">
                        <h4>
                          {{post.original_post.user.first_name}}
                          {{post.original_post.user.last_name}}
                        </h4>
                        <p>
                          Posted {{ post.original_post.created_at|timesince }}
                          ago
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="post-content">
                    <p class="post_text_edit_for">
                      {{post.original_post.text}}
                    </p>

                    {% if post.original_post.video %}
                    <video controls style="max-height: 600px">
                      <source
                        src="/static/media/{{post.original_post.video}}"
                        loading="lazy"
                        type="video/mp4"
                        class="video_post_source"
                      />
                      Your browser does not support the video tag.
                    </video>
                    {% elif post.original_post.image %}

                    <div class="media">
                      <img
                        src="/static/media/{{post.original_post.image}}"
                        alt="Post Image"
                        class="post_media_file post-image_aiauiaadas"
                        loading="lazy"
                      />
                    </div>

                    {% endif %}

                    <div class="tags mt-2">
                      {% for tag in post.original_post.tags.all %}
                      <span class="tag">#{{tag.name}}</span>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="post-actions">
                    <div class="like-section">
                      {% if request.user == post.shared_by %}
                      <button class="btn" disabled>👍 Like</button>
                      {% else %}
                      <button
                        class="addLikeOnPost"
                        data-shared_post="true"
                        data-post_id="{{post.pk}}"
                      >
                        {% if post.user_liked %}
                        <!--  -->
                        👎 Unlike {% else %}
                        <!--  -->
                        👍 Like {% endif %}
                      </button>
                      {% endif %}

                      <span class="like-count"
                        ><span class="like_countNumber"
                          >{{ post.like_count }}</span
                        >
                        Likes</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <details>
                <summary>View Comments</summary>

                <div>
                  <div class="add-comment">
                    <input
                      type="text"
                      class="comment_input"
                      placeholder="Write a comment..."
                    />
                    <button
                      class="addCommentOnPost"
                      data-shared_post="true"
                      data-post_id="{{post.pk}}"
                    >
                      Post
                    </button>

                    <div class="comments">
                      {% for comment in post.comments.all %}

                      <!--  -->

                      {% if comment.text %}

                      <div
                        class="comment"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                        "
                      >
                        <div style="margin: 0">
                          <strong
                            >{{comment.user.first_name}}
                            {{comment.user.last_name}}:</strong
                          >
                          <span class="comment_text">{{comment.text}}</span>

                          <div
                            class="align-items-center div-for-update-btn gap-2"
                            style="display: none"
                          >
                            <input
                              type="text"
                              class="form-control edit-comment-input"
                              value="{{comment.text}}"
                              style="margin-top: 5px"
                            />

                            <button
                              class="btn save-comment-edit-btn"
                              style="background-color: #f9f9f900"
                              data-commentId="{{comment.id}}"
                            >
                              ✔️
                            </button>

                            <button
                              class="btn save-comment-edit-btn-cancel"
                              style="background-color: #f9f9f900"
                            >
                              ❌
                            </button>
                          </div>
                        </div>
                        {% if request.user == comment.user %}
                        <div
                          class="three_dot_for_comment_edit_delete dropstart"
                        >
                          <button
                            class="dropdown-toggle"
                            style="
                              color: rgb(0, 0, 0);
                              font-size: 1.4rem;
                              background: none;
                              border: none;
                              padding: 0 0.5rem 0 0;
                              margin: 0;
                            "
                            type="button"
                            data-bs-toggle="dropdown"
                          >
                            ⋮
                          </button>

                          <ul class="dropdown-menu">
                            <li
                              class="dropdown-item delete_comment--btn"
                              data-commentId="{{comment.id}}"
                              style="cursor: pointer"
                            >
                              🗑️ Delete
                            </li>
                            <li
                              class="dropdown-item edit_comment--btn"
                              data-commentId="{{comment.id}}"
                              style="cursor: pointer"
                            >
                              ✏️ Edit
                            </li>
                          </ul>
                        </div>
                        {% else %}
                        <!--  -->
                        {% endif %}
                      </div>
                      {% else %}
                      <p class="noCommentPWashaleMere">No Comments For Now.</p>
                      {% endif %} {% endfor %}
                    </div>
                  </div>
                </div>
              </details>
            </article>
            {% else %}
            <article class="post feed-posts">
              <div class="post-header justify-content-between">
                <div class="d-flex">
                  <a href="{% url 'profile' post.user.email %}">
                    <img
                      src="/static/media/{{user.avatar}}"
                      loading="lazy"
                      alt="User Avatar"
                    />
                  </a>
                  <div class="post-user-info" style="align-self: flex-end">
                    <h4>{{user.first_name}} {{user.last_name}}</h4>
                    <p>Posted {{ post.created_at|timesince }} ago</p>
                  </div>
                </div>

                {% if post.user == request.user %}
                <div class="three_dot_for_post_edit_delete dropstart">
                  <button
                    class="dropdown-toggle"
                    style="
                      color: rgb(0, 0, 0);
                      font-size: 1.4rem;
                      background: none;
                      border: none;
                    "
                    type="button"
                    data-bs-toggle="dropdown"
                  >
                    ⋮
                  </button>

                  <ul class="dropdown-menu">
                    <li
                      class="dropdown-item delete_post--btn"
                      data-postId="{{post.id}}"
                    >
                      🗑️ Delete
                    </li>
                    <li
                      class="dropdown-item edit_post--btn"
                      data-postId="{{post.id}}"
                    >
                      ✏️ Edit
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
              <div class="post-content">
                <p class="post_text_edit_for">{{post.text}}</p>

                {% if post.video %}
                <video controls style="max-height: 600px">
                  <source
                    src="/static/media/{{post.video}}"
                    loading="lazy"
                    type="video/mp4"
                    class="video_post_source"
                  />
                  Your browser does not support the video tag.
                </video>
                {% elif post.image %}

                <div class="media">
                  <img
                    src="/static/media/{{post.image}}"
                    alt="Post Image"
                    class="post_media_file post-image_aiauiaadas"
                    loading="lazy"
                  />
                </div>

                {% endif %}

                <div class="tags mt-2">
                  {% for tag in post.tags.all %}
                  <span class="tag">#{{tag.name}}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="post-actions">
                <div class="like-section">
                  {% if request.user == post.user %}
                  <button class="btn" disabled>👍 Like</button>
                  {% else %}
                  <button class="addLikeOnPost" data-post_id="{{post.pk}}">
                    {% if post.user_liked %}
                    <!--  -->
                    👎 Unlike {% else %}
                    <!--  -->
                    👍 Like {% endif %}
                  </button>
                  {% endif %}

                  <span class="like-count"
                    ><span class="like_countNumber">{{ post.like_count }}</span>
                    Likes</span
                  >
                </div>

                {% if request.user != post.user %}
                <button
                  class="share-btn"
                  data-bs-toggle="modal"
                  data-bs-target="#shareModal"
                  data-title="Share"
                  data-post_id="{{post.pk}}"
                >
                  ↪️ Share
                </button>
                {% endif %}
              </div>
              <!-- Hidden Comment Section -->
              <details>
                <summary>View Comments</summary>

                <div>
                  <div class="add-comment">
                    <input
                      type="text"
                      class="comment_input"
                      placeholder="Write a comment..."
                    />
                    <button class="addCommentOnPost" data-post_id="{{post.pk}}">
                      Post
                    </button>

                    <div class="comments">
                      {% for comment in post.comments.all %}

                      <!--  -->

                      {% if comment.text %}

                      <div
                        class="comment"
                        style="
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                        "
                      >
                        <div style="margin: 0">
                          <strong
                            >{{comment.user.first_name}}
                            {{comment.user.last_name}}:</strong
                          >
                          <span class="comment_text">{{comment.text}}</span>

                          <div
                            class="align-items-center div-for-update-btn gap-2"
                            style="display: none"
                          >
                            <input
                              type="text"
                              class="form-control edit-comment-input"
                              value="{{comment.text}}"
                              style="margin-top: 5px"
                            />

                            <button
                              class="btn save-comment-edit-btn"
                              style="background-color: #f9f9f900"
                              data-commentId="{{comment.id}}"
                            >
                              ✔️
                            </button>

                            <button
                              class="btn save-comment-edit-btn-cancel"
                              style="background-color: #f9f9f900"
                            >
                              ❌
                            </button>
                          </div>
                        </div>
                        {% if request.user == comment.user %}
                        <div
                          class="three_dot_for_comment_edit_delete dropstart"
                        >
                          <button
                            class="dropdown-toggle"
                            style="
                              color: rgb(0, 0, 0);
                              font-size: 1.4rem;
                              background: none;
                              border: none;
                              padding: 0 0.5rem 0 0;
                              margin: 0;
                            "
                            type="button"
                            data-bs-toggle="dropdown"
                          >
                            ⋮
                          </button>

                          <ul class="dropdown-menu">
                            <li
                              class="dropdown-item delete_comment--btn"
                              data-commentId="{{comment.id}}"
                              style="cursor: pointer"
                            >
                              🗑️ Delete
                            </li>
                            <li
                              class="dropdown-item edit_comment--btn"
                              data-commentId="{{comment.id}}"
                              style="cursor: pointer"
                            >
                              ✏️ Edit
                            </li>
                          </ul>
                        </div>
                        {% else %}
                        <!--  -->
                        {% endif %}
                      </div>
                      {% else %}
                      <p class="noCommentPWashaleMere">No Comments For Now.</p>
                      {% endif %} {% endfor %}
                    </div>
                  </div>
                </div>
              </details>
            </article>
            {% endif %}
            <!--  -->
            {% endfor %}
          </main>

          <div id="loading" style="display: none">Loading more posts...</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Friends Tab -->
<div
  class="tab-pane fade container mt-3"
  id="friends"
  role="tabpanel"
  aria-labelledby="friends-tab"
  style="margin-bottom: 5rem"
>
  <h3>Friend List</h3>

  <div id="search-friends-desktop" class="mb-3">
    <input
      type="text"
      id="search-input__nav-desktop"
      class="search-input__nav-profile"
      placeholder="Find Friends"
      style="font-size: 0.9rem"
    />
    <button>🔍</button>
  </div>

  <ul class="friend-list">
    {% for i in user_friends %}
    <li class="friend-item">
      <a
        href="{% url 'profile' i.friend_email %}"
        style="display: flex; gap: 0.5rem; align-items: center"
      >
        <img
          src="/static/media/{{i.friend_avatar}}"
          loading="lazy"
          alt="Friend Avatar"
        />
        <p class="friend-name">
          {{i.friend_first_name}} {{i.friend_last_name}}
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- Media Tab -->
<div
  class="tab-pane fade container mt-3 media-images"
  id="media"
  role="tabpanel"
  aria-labelledby="media-tab"
  style="margin-bottom: 5rem"
>
  <h3>Media</h3>

  <div
    class="photo-grid tab-photo-grid"
    style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))"
  >
    <!-- <video controls>
      <source src="chat.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video> -->
    {% for media in user_media %}
    <!--  -->
    <div class="image-container__media_profile">
      <!-- Show images based on type -->
      {% if media.media_type == 'profile' %}
      <img
        src="{{ media.media_file_link }}"
        alt="Profile Picture"
        loading="lazy"
      />
      {% elif media.media_type == 'background' %}
      <img
        src="{{ media.media_file_link }}"
        alt="Background Image"
        loading="lazy"
      />
      {% elif media.media_type == 'post_image' %}
      <img
        src="/static{{ media.media_file_link }}"
        alt="post_image"
        loading="lazy"
      />
      {% endif %}

      <!-- Three-dot menu -->
      {% if user == request.user %}
      <div class="menu-container__media_profile">
        <button
          class="menu-btn"
          style="color: red; background: #282828; padding: 0 10px"
        >
          ⋮
        </button>
        <div class="dropdown-menu" style="min-width: auto">
          <button
            class="delete-btn mb-2 dropdown-item"
            data-id="{{ media.id }}"
          >
            🗑️ Delete
          </button>

          <button
            class="setCover-btn dropdown-item mb-2"
            data-id="{{ media.id }}"
          >
            🖼️ Set as cover image
          </button>

          <button class="setProfile-btn dropdown-item" data-id="{{ media.id }}">
            👤 Set as profile image
          </button>
        </div>
      </div>

      {% else %}
      <!--  -->
      {% endif %}
    </div>

    {% endfor %}
    <!--  More photos can go here  -->
  </div>
</div>

<!-- Chat Window -->
{% include 'mainApp/components/chat_window.html' %}

<!-- Modal for notifications -->
{% include 'mainApp/components/notifications_modal.html' %}

<!-- Edit Profile Modal -->
<div
  class="modal fade"
  id="editProfileModal"
  tabindex="-1"
  aria-labelledby="editProfileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="edit-profile-form"
          enctype="multipart/form-data"
          method="POST"
          action="/profile/Update-Profile-Pictures/"
        >
          {% csrf_token %}
          <!-- Current Profile Picture -->
          <div class="mb-3">
            <label for="currentProfilePicture__profile" class="form-label"
              >Current Profile Picture</label
            >
            <div>
              <img
                src="/static/media/{{user.avatar}}"
                loading="lazy"
                alt="Current Profile Picture"
                id="currentProfilePicture__profile"
                class="img-thumbnail"
                width="150px"
                style="object-fit: contain"
              />
            </div>

            <div class="mt-2">
              <img
                id="newProfilePicturePreview__profile"
                class="img-thumbnail"
                width="150px"
                style="display: none; object-fit: contain"
              />
            </div>
          </div>

          <!-- New Profile Picture -->
          <div class="mb-3">
            <label for="newProfilePicture" class="form-label"
              >New Profile Picture</label
            >
            <input
              type="file"
              id="newProfilePictureInput__profile"
              class="form-control every_input__pictures"
              accept="image/*"
              name="avatar"
            />
          </div>

          <!-- Current Background Picture -->
          <div class="mb-3">
            <label for="currentBackgroundPicture__profile" class="form-label"
              >Current Background Picture</label
            >
            <div>
              <img
                src="/static/media/{{user.background_image}}"
                loading="lazy"
                alt="Current Background Picture"
                id="currentBackgroundPicture__profile"
                class="img-thumbnail"
                width="300px"
                style="object-fit: contain"
              />
            </div>

            <div class="mt-2">
              <img
                id="newBackgroundPicturePreview__profile"
                class="img-thumbnail"
                width="300px"
                style="display: none; object-fit: contain"
              />
            </div>
          </div>

          <!-- New Background Picture -->
          <div class="mb-3">
            <label for="newBackgroundPictureInput__profile" class="form-label"
              >New Background Picture</label
            >
            <input
              type="file"
              id="newBackgroundPictureInput__profile"
              class="form-control every_input__pictures"
              accept="image/*"
              name="background_image"
            />
          </div>

          <!-- Submit Button -->
          <div class="modal-footer">
            <button
              type="submit"
              id="submit-button"
              class="btn btn-primary savechanges__forUpdatePictures__profile"
            >
              Save Changes
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="alert alert-success"
  role="alert"
  style="position: fixed; bottom: 0; right: 0; z-index: 123421"
>
  A simple success alert—check it out!
</div>

<!-- Edit Post Modal -->
<div
  class="modal fade"
  id="editPostModal"
  tabindex="-1"
  aria-labelledby="editPostModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- The post structure, but editable -->
        <form id="editPostForm" method="patch" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="post-content">
            <!-- Editable Post Text -->
            <div class="mb-3">
              <label for="editPostText" class="form-label">Post Text</label>
              <textarea
                class="form-control"
                id="editPostText"
                rows="3"
                name="text"
              ></textarea>
            </div>

            <!-- Editable Media (Image or Video) -->
            <div class="mb-3">
              <label for="editPostMedia" class="form-label"
                >Post Media (Optional)</label
              >
              <div id="currentMedia"></div>
              <input
                type="file"
                class="form-control"
                name="media"
                id="editPostMedia"
              />
            </div>

            <!-- Editable Tags -->
            <div class="tags-section mb-3">
              <label for="tags">Select up to 5 tags: </label>
              <div id="tags-wrapper">
                {% for tag in tags %}
                <input
                  type="checkbox"
                  name="tags"
                  value="{{ tag.name }}"
                  id="tag-{{ tag.id }}"
                  data-name_tag="{{ tag.name }}"
                  class="tag-checkbox"
                />
                <label for="tag-{{ tag.id }}" class="tag_names_tag"
                  >{{ tag.name }}</label
                >
                {% endfor %}
              </div>
            </div>

            <!-- Post ID (Hidden) -->
            <input type="hidden" id="editPostId" name="postId" />
          </div>

          <button
            type="button"
            class="btn btn-primary edit_post_save_button_modal"
          >
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- change tags modal -->

<div
  class="modal fade"
  id="changeTagsModal"
  tabindex="-1"
  aria-labelledby="changeTagsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="changeTagsModalLabel">Change Tags</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="tags-section mb-3">
          <div id="tags-wrapper2">
            {% for tag in tags %}
            <!--  -->
            {% if tag.name in user_tag_names %}
            <input
              type="checkbox"
              name="tags"
              value="{{ tag.name }}"
              id="tag2-{{ tag.id }}"
              data-name_tag="{{ tag.name }}"
              class="tag-checkbox2"
              checked
            />
            <label for="tag2-{{ tag.id }}">{{ tag.name }}</label>
            {% else %}
            <input
              type="checkbox"
              name="tags"
              value="{{ tag.name }}"
              id="tag2-{{ tag.id }}"
              data-name_tag="{{ tag.name }}"
              class="tag-checkbox2"
            />
            <label for="tag2-{{ tag.id }}">{{ tag.name }}</label>
            {% endif %}
            <!--  -->
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary change_tags_save" disabled>
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="alert alert-warning alert-dismissible fade hide magariAlteri"
  role="alert"
>
  Video file is too large. Maximum size allowed is 10MB.
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<div
  class="alert alert-warning alert-dismissible fade hide magariAlteri2"
  role="alert"
>
  <span class="alertText"> </span>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    onclick="hideAlert()"
  ></button>
</div>

<input type="hidden" value="{{all_posts_length}}" id="all_postLen" />
{{serialized_tags|json_script:'tags_names'}}
<!--  -->
{% include 'mainApp/components/share_modal.html' %}

<!--  -->
{% endblock content %}

<!--  -->
{% block scripts %}

<script>
  function hideAlert() {
    // Just hide the alert instead of removing it from the DOM
    const alertDiv = document.querySelector(".magariAlteri2");
    console.log(alertDiv);
    alertDiv.classList.remove("show"); // Remove the 'show' class to hide the alert
    alertDiv.classList.add("hide"); // Optionally, you can add 'hide' to keep it hidden
  }
</script>

<script type="module" src="{% static 'js/edit_profile1.js' %}"></script>
<script src="{% static 'js/profile23.js' %}"></script>
<script type="module" src="{% static 'js/friends1.js' %}"></script>

<script type="module" src="{% static 'js/crud_posts.js' %}"></script>

<script type="module" src="{% static 'js/postActions.js' %}"></script>

<script
  type="module"
  src="{% static 'js/fetch_posts_forProfiles.js' %}"
></script>
<script src="{% static 'js/messages.js' %}?v=5.0"></script>
{% endblock scripts %}
