<article class="post feed-posts">
  <div class="post-header justify-content-between">
    <div class="d-flex">
      <a href="{% url 'profile' post.user.email %}">
        <img
          src="/static/media/{{post.user.avatar}}"
          loading="lazy"
          alt="User Avatar"
        />
      </a>
      <div class="post-user-info" style="align-self: flex-end">
        <h4>{{post.user.first_name}} {{post.user.last_name}}</h4>
        <p>Posted {{ post.created_at|timesince }} ago</p>
      </div>
    </div>

    {% if post.user == request.user %}
    <div class="three_dot_for_post_edit_delete dropstart">
      <button
        class="dropdown-toggle"
        style="
          color: rgb(0, 0, 0);
          font-size: 1.4rem;
          background: none;
          border: none;
        "
        type="button"
        data-bs-toggle="dropdown"
      >
        ⋮
      </button>

      <ul class="dropdown-menu">
        <li class="dropdown-item delete_post--btn" data-postId="{{post.id}}">
          🗑️ Delete
        </li>
        <li class="dropdown-item edit_post--btn" data-postId="{{post.id}}">
          ✏️ Edit
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div class="post-content">
    <p class="post_text_edit_for">{{post.text}}</p>

    {% if post.video %}
    <video controls>
      <source
        src="/static/media/{{post.video}}"
        loading="lazy"
        type="video/mp4"
        class="video_post_source"
      />
      Your browser does not support the video tag.
    </video>
    {% elif post.image %}

    <div class="media">
      <img
        src="/static/media/{{post.image}}"
        alt="Post Image"
        class="post_media_file post-image_aiauiaadas"
        loading="lazy"
      />
    </div>

    {% endif %}

    <div class="tags mt-2">
      {% for tag in post.tags.all %}
      <span class="tag">#{{tag.name}}</span>
      {% endfor %}
    </div>
  </div>
  <div class="post-actions">
    <div class="like-section">
      {% if request.user == post.user %}
      <button class="btn" disabled>👍 Like</button>
      {% else %}
      <button class="addLikeOnPost" data-post_id="{{post.pk}}">
        {% if post.user_liked %}
        <!--  -->
        👎 Unlike {% else %}
        <!--  -->
        👍 Like {% endif %}
      </button>
      {% endif %}

      <span class="like-count"
        ><span class="like_countNumber">{{ post.like_count }}</span> Likes</span
      >
    </div>

    {% if request.user != post.user %}
    <button
      class="share-btn"
      data-bs-toggle="modal"
      data-bs-target="#shareModal"
      data-title="Share"
      data-post_id="{{post.pk}}"
    >
      ↪️ Share
    </button>
    {% endif %}
  </div>
  <!-- Hidden Comment Section -->
  <details>
    <summary>View Comments</summary>

    <div>
      <div class="add-comment">
        <input
          type="text"
          class="comment_input"
          placeholder="Write a comment..."
        />
        <button class="addCommentOnPost" data-post_id="{{post.pk}}">
          Post
        </button>

        <div class="comments">
          {% for comment in post.comments.all %}

          <!--  -->

          {% if comment.text %}

          <div
            class="comment"
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div style="margin: 0">
              <strong
                >{{comment.user.first_name}} {{comment.user.last_name}}:</strong
              >
              <span class="comment_text">{{comment.text}}</span>

              <div
                class="align-items-center div-for-update-btn gap-2"
                style="display: none"
              >
                <input
                  type="text"
                  class="form-control edit-comment-input"
                  value="{{comment.text}}"
                  style="margin-top: 5px"
                />

                <button
                  class="btn save-comment-edit-btn"
                  style="background-color: #f9f9f900"
                  data-commentId="{{comment.id}}"
                >
                  ✔️
                </button>

                <button
                  class="btn save-comment-edit-btn-cancel"
                  style="background-color: #f9f9f900"
                >
                  ❌
                </button>
              </div>
            </div>
            {% if request.user == comment.user %}
            <div class="three_dot_for_comment_edit_delete dropstart">
              <button
                class="dropdown-toggle"
                style="
                  color: rgb(0, 0, 0);
                  font-size: 1.4rem;
                  background: none;
                  border: none;
                  padding: 0 0.5rem 0 0;
                  margin: 0;
                "
                type="button"
                data-bs-toggle="dropdown"
              >
                ⋮
              </button>

              <ul class="dropdown-menu">
                <li
                  class="dropdown-item delete_comment--btn"
                  data-commentId="{{comment.id}}"
                  style="cursor: pointer"
                >
                  🗑️ Delete
                </li>
                <li
                  class="dropdown-item edit_comment--btn"
                  data-commentId="{{comment.id}}"
                  style="cursor: pointer"
                >
                  ✏️ Edit
                </li>
              </ul>
            </div>
            {% else %}
            <!--  -->
            {% endif %}
          </div>
          {% else %}
          <p class="noCommentPWashaleMere">No Comments For Now.</p>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </details>
</article>
